* {
    background-color: aquamarine;
}

.texto {
    color: red;
    font-size: 50px;
    font-weight: bold;
}

.button {
    color: green;
    font-size: 50px;
    font-size: 35px;
}

p {
    background: rgb(255, 255, 0;
    }